---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const skills = ["Back-end (Cpp)", "Front-end (JS)", "AI (Python)"];
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {skills.map((x) => <li class="skill">{x}</li>)}
  </ul>
</BaseLayout>
