---
const { url, title, date } = Astro.props;
---
<style>
  .blog-post-title {
    display: inline-block;
    min-width: 30rem;
    height: 3rem;
    line-height: 3rem;
  }
  .blog-post-title a {
    color: #000000;
    font-family: "roboto";
    font-size: 1.5rem;
    text-decoration: none;
  }
  .blog-post-date {
    color: #888888;
    font-family: "roboto";
    font-size: 1.5rem;
  }
</style>
<li>
  <span class="blog-post-title"><a href={url}>{title}</a></span>
  <span class="blog-post-date">{date.slice(0, 10)}</span>
</li>
